<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Coffee Shop</title>
</head>
<body>
    <header>
        {% if user.is_authenticated %} 
            Hola, {{ user.username }} 
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button 
                    class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800"
                    type="submit">Cerrar Sesión
                </button>
            </form>
        {% else %} 
            <a href="{% url 'login' %}" login" %}" class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">Iniciar Sesión</a>
        {% endif %}
        <h1 class="text-3xl font-bold underline">Coffee Shop</h1>
    </header>

    <main>
        <div class="container mx-auto px-4 py-4">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; 2023 Coffee Shop. All rights reserved.</p>
    </footer>
</body>
</html>